/* = tipografia
-------------------------------------------------------------------*/
@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../fonts/SourseSansPro/SourceSansPro-Regular.ttf");
    font-family: "SourceSansPro-SemiBold";
    src: url("../fonts/SourseSansPro/SourceSansPro-SemiBold.ttf");
}
/* = texto
-------------------------------------------------------------------*/
#tit1,#tit2
{
    font-family: "SourceSansPro-SemiBold";
    font-size: 20px;
    text-align: center;
}
#hasta,#veinte,#descuento,#todos,#elec
{
    font-family: "SourceSansPro-SemiBold";
    color: white;
}
/* = anuncio (parte derecha(esq lo escribi al reves jiji))
-------------------------------------------------------------------*/
#izquierda
{
    position: absolute;
    left: 52%;
    right: 5%;
    top: 15%;
    width: 43%;
    height: 25%;
    border-radius: 1em 1em 1em 1em;
    background-color: #FFAD2F;
}
#tv
{
    position: absolute;
    left: 0%;
    right: 5%;
    top: 0%;
    width: 100%;
    height: 100%; 
}
/* = anuncio (parte izquierda)
-------------------------------------------------------------------*/
#derecha
{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 50%;
    height: 25%;
    border-radius: 1em 1em 1em 1em;
    background-color: #6C84F5;
}
/* = anuncio (parte izquierda(izquierda)
-------------------------------------------------------------------*/
#ladouno
{
    position: relative;
    top: 15%;
    left: 10%;
}
#hasta,#descuento,#todos,#elec
{
    font-size: 30px;
}
#veinte
{
    font-size: 50px;
}
/* = anuncio (parte izquierda(derecha)
-------------------------------------------------------------------*/
#ladodos
{
    position: relative;
    top: -40%;
    left: 55%;
}

/* = parte abajo
-------------------------------------------------------------------*/
#sug,#rec
{
    position: absolute;
    top: 45%;
    width: 43%;
    height: 5%;
    border-radius: 1em 1em;
    background-color: #FFAD2F;
}
/* = sugerencias (parte abajo, 50% izquierda)
-------------------------------------------------------------------*/
#sugerencias
{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 43%;
    height: 50%;
}
#sug
{
    left: 5%;
}
/* = receintes (parte abajo, 50% derecha)
-------------------------------------------------------------------*/
#recientes
{
    position: absolute;
    left: 52%;
    right: 5%;
    top: 50%;
    width: 43%;
    height: 50%;

}
#rec
{
    left: 52%;
}
/* = posicionamiento imagenes (divs)
-------------------------------------------------------------------*/
#uno,#dos,#tres,#cuatro,#cinco,#seis,#siete
{
    position: absolute;
    left: 0%;
    right: 5%;
    top: 0%;
    width: 100%;
    height: 100%; 
}
/* = posicionamiento imagenes
-------------------------------------------------------------------*/
#img1,#img5
{
    position: absolute;
    left: 5%;
    top: 8%;
    width: 43%;
    height: 40%;
    border: 2px solid #FFAD2F;
}
#img2
{
    position: absolute;
    left: 5%;
    top: 52%;
    width: 43%;
    height: 40%;
    border: 2px solid #FFAD2F;
}
#img3,#img6
{
    position: absolute;
    left: 50%;
    top: 8%;
    width: 43%;
    height: 40%;
    border: 2px solid #FFAD2F;
}
#img4
{
    position: absolute;
    left: 50%;
    top: 52%;
    width: 43%;
    height: 40%;
    border: 2px solid #FFAD2F;
}
#img7
{
    position: absolute;
    left: 5%;
    top: 52%;
    width: 88%;
    height: 40%;
    border: 2px solid #FFAD2F;
}

